## Visual Studio / MSBuild
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

## Resultados de compilación
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Compilados
*.exe
*.dll
*.obj
*.o
*.ilk
*.exp
*.lib
*.pdb
*.iobj
*.ipdb
*.pch
*.idb
*.res
*.cache
*.recipe

## Logs y archivos temporales de compilación
*.log
*.tlog
*.lastbuildstate
*.FileListAbsolute.txt
*.SuggestedBindingRedirects.cache
*.AssemblyReference.cache

## IntelliSense / precompiled headers
*.ipch
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db-shm
*.VC.db-wal

## Otros
*.tmp
*.bak
Thumbs.db
Desktop.ini
